---
layout: default
title: Home
---

<style type="text/css">
  .message a.c33 {
    font-weight: bold; 
    color: white; 
    background-color: #c33; 
    padding: 5px; 
    border-radius: 5px;
  }

  .message a.c33:hover {
    text-decoration: none;
  }
</style>
<div class="message">
  This is the blog, but if you want to know more about me and my projects, check out the <a href="/projects">Projects</a> and <a href="/about">About</a> pages.
  <br />
  You can find information about my consulting work at <a href="https://c33tech.com">C33 Technology</a>
</div>

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

<!-- Indie Web Links -->
<div style="display: none">
<a href="https://github.com/mikeflynn" rel="me">mikeflynn @ GitHub</a>
<a href="https://twitter.com/thatmikeflynn" rel="me">thatmikeflynn @ Twitter</a>
</div>