@import url(https://fonts.googleapis.com/css?family=Six+Caps);

/* Custom Theme */

.sidebar h1 {
  font-family: 'Sansita One', cursive;
  font-weight: 400;
}

.sidebar {
  background: url('/public/images/rabbit.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #90a959;
  text-shadow:
    -1px -1px 0 #333,
     1px -1px 0 #333,
    -1px 1px 0 #333,
     1px 1px 0 #333;
}

#acidburn {
  position: fixed;
  top: 0px;
  right: 0px;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #990000;
  font-size: 7em;
  text-transform: uppercase;
  text-align: center;
  padding-top: 25px;
  font-family: 'Six Caps', sans-serif;
}

a.c33 {
  font-weight: bold; 
  color: white !important; 
  background-color: #c33 !important; 
  padding: 5px; 
  border-radius: 5px;
}

.message a.c33:hover {
  text-decoration: none;
}

.post .meta {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.post .meta .post-date {
  margin-top:  0px;
}

.post .meta .post-tags {
  text-align: right;
}

.post .meta a {
  text-transform: uppercase;
  padding: 5px;
  background-color: #90a959;
  color: white;
  border-radius: 5px;
  font-size: .75em;
}

.post .meta a:hover {
  text-decoration: none;
}