<div class="input-append">
	<form method="GET" action="https://www.google.com/search" class="form-search">
		<input class="input-medium search-query" type="text" size="16" name="q" placeholder="Google" style="padding: 13px 5px 13px 5px; margin-right: 0px;" />
		<input type="submit" value="Search" class="btn" />
	</form>
</div>

<h4 class="top">By Mike Flynn</h4>
<a href="/">Home</a>
<a href="/about.html">About</a>
<a href="/archives.html">Archives</a>
<a href="/contact.html">Contact</a>

<h4>STUFF</h4>
<a href="http://twitter.com/mikeflynn_">Twitter / @mikeflynn_</a>
<a href="http://www.linkedin.com/in/flynn">LinkedIn / flynn</a>
<a href="https://vimeo.com/mikeflynn">Vimeo / mikeflynn</a>
<a href="http://www.reddit.com/user/mikeflynn">Reddit / mikeflynn</a>
<a href="https://www.facebook.com/mikeflynn">Facebook / mikeflynn</a>

<h4>PROJECTS</h4>
<a href="http://github.com/mikeflynn">GitHub</a>
<a href="http://punchingkitty.com">Punching Kitty.com</a>