<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Talking In Co.de</title>

	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

	<link rel="stylesheet" type="text/css" href="/css/default.css">	
</head>
<body>
<div id="bin" class="container">

<div class="row">
	<div class="span9">
	
	{% include header.html %}

	{{ content }}

	{% include footer.html %}

	</div>

	<div id="sidebar" class="span3">

	{% include sidebar.html %}

	</div>

</div>

</div>
<body>
</html>